<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="saludo">Hi brewers!</h1>
            <p>Discover a world of beers that's now at your fingertips!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="buscar" (click)="onClick('/buscador')"><span>Start!</span></button>
        </div>
    </div>

    <!-- <h1 class="saludo">Hi brewers!</h1>
    <p>Discover a world of beers that's now at your fingertips!</p>
    <button class="buscar" (click)="onClick('/buscador')"><span>Start!</span></button> -->


</div>