* {
    margin: 0;
    padding: 0em;
    box-sizing: border-box;
}

#icono{
    padding:0.825em;
}
 /* .bg-light{
    background-color:#dba078 !important; 
 } */

ul li a {
    font-family: var(--fontOdd);
    color:#a96b18;
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
    /* padding:0.125em;
    margin-left: 12.325em; */
}

#navbarNav{
    align-items: center;
    margin-left: auto;
    padding: 1.125em;
}

#navbarNav .navbar-nav li{
    display: flex;
    justify-content: right;
}

#menu{
    margin: 1em;
    /* padding-right: 1.258em; */
    background-color: var(--colorMarron);
}

#menu .navbar-toggler-icon{
    padding: 1em;
}

/* #menu #navbarNav{
color: white;
} */

@media (max-width:500px){
    #type{
        justify-content: left;
        margin-left: 10.250em;
    }

}
/* 
@media (max-width:725px){
    #type{
        margin-left: 10.250em;
    }

} */