*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
footer{
    background-color:#dbb787;
    font-family: var(--fontOdd);
}
.container-fluid{
bottom: 0;
width: 100%;
color:var(--colorMarron);
padding: 1.125em;

}


