<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeerMe</title>
</head>

<body>

    <nav class="navbar navbar-">
        <a class="navbar-brand" href="#"><img src="./images/logo_blanco.png" alt="Beer Me"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white active lead" href="#">Cerveceame</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white lead" href="#">Mapa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white lead" href="#">Login</a>
            </li>
        </ul>
    </nav>

</body>

</html>