<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeerMe</title>
</head>

<body>

    <nav class="navbar navbar-light bg-white navbar-expand-md">

        <a class="navbar-brand-left" href="#"><img src="assets/images/bmprueba3.png" alt="Beer Me"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav menu">
                <li><a class="nav-item nav-link buscador" [routerLink] (click)="onClick('/buscador')">Buscador</a></li>
                <li><a class="nav-item nav-link text-bold" [routerLink] (click)="onClick('/mapa')">Mapa</a></li>
                <li><a class="nav-item nav-link text-bold" [routerLink] (click)="onClick('/login')">Login/SingUp</a>
                </li>
            </ul>
        </div>
    </nav>

</body>

</html>