.jumbotron {
	padding: 0px;
    margin-bottom: 2rem;
    background-image: url(./images/malta_corte.jpg);
    height: 850px;
    background-size: cover;
	color: white;
    text-align: center;
    
}

.texto{
    padding-top: 100px;
}