<div class="buscador">

    <div class="row">
        <!-- <div class="col col-md-12 col-lg-12"> -->
        <div class=" col-6 col-sm-6 col-md-6 col-lg-6 contenedor">
            <label>Busca por Nombre</label>
            <input type="search" id="buscadorNombre" [(ngModel)]="nombre" (keyup.enter)="onEnter()">

            <button class="btn btn-dark" type="button" [routerLink]="['/cervezas/' + nombre]">
                Buscar

            </button>
        </div>

        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <img class="img-fluid" src="../../../assets/images/cervezas2.jpg" alt="letras">
        </div>

        <!-- [routerLink]="['/cervezas/pais',nombre] -->

        <div class="row fila">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">

                <img class="img-fluid" src="../../../assets/images/flags.jpg" alt="">
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 contenedor">
                <label>Busca por país</label>
                <div class="dropdown oop">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Países
                    </button>
                    <div class="dropdown-menu " aria-labelledby="dropdownMenuButton" [(ngModel)]="pais">
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'Spain']">Spain</a>
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'United Stated']">United Stated</a>
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'Germany']">Germany</a>
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'Canada']">Canada</a>
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'United Kingdom']">United Kingdom</a>
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'Belgium']">Belgium</a>
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'Norway']">Norway</a>
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'Brazil']">Brazil</a>
                        <a class="dropdown-item" [routerLink]="['/cervezas/pais', 'Poland']">Poland</a>
                    </div>
                </div>

                <!-- <input type="search" id="buscadorPais" [(ngModel)]="pais">
                <button class="btn btn-dark" type="button" [routerLink]="['/cervezas/pais/pais', pais]">Buscar</button> -->
            </div>

        </div>
    </div>
    <!-- </div> -->
</div>