* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: #e6cfad;
  
 
}

label{
  font-family: var(--fontFirst);
  font-weight: bold;
  color: var(--colorClaro);
  margin-left: 6.250em;
  padding-top:0.750em;
}

input{
  display:flex;
  margin-top: 1.125em;
  padding: 0.425em;
  margin-left: 2.125em;
  border-radius: 10%;
  height:4.250em ;
  border-color: var(--colorBeige), 3px;
  border-style: dotted;
}


.btn-dark{
  background-color: var(--colorMarron);
  color:white;
  font-family: var(--fontSecond);
  font-weight: lighter;
  border-radius: 20px;
  border-color: black 1px !important;
  padding: 0.236em;
  margin-top:0.525em;
  margin-left: 2.125em;
  
}

/* .dch{
  display:absolute;
  margin-left: 15.125em;
  margin-top: 1.125em;
} */

/* .bi{
display:absolute;
z-index:3;
margin-left: 10.236em;
margin-bottom: 3.125em;
} */

