* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  background-color: #e6cfad;
  
 
}
/* .buscador{
  border-right: solid 4px;
  border-left: solid 4px;
  border-color: white;
} */

#dropdownMenuButton{
  font-family: var(--fontSecond);
  font-size: 1.125em;
  background-color: var(--colorMarron);
  width: 100px;
  border: none;
}

.oop{
  margin-left: 2em;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  
}

label{
  font-family: var(--fontFirst);
  font-size: 2em;
  font-weight: bold;
  color: var(--colorClaro);
  /* margin-left: 6.250em; */
  /* margin-left: 0.5em; */
  padding-top:0.750em;
}

input{
  display:flex;
  margin-top: 1.125em;
  padding: 0.425em;
  margin-left: 2.125em;
  border-top: none;
  border-left: none;
  border-right: none;
  height:4.250em ;
  border-color: var(--colorBeige), 3px;
 
}


.btn-dark{
  background-color: var(--colorMarron);
  color:white;
  width: 100px;
  font-family: var(--fontSecond);
  font-size: 1.125em;
  font-weight: lighter;
  border:none;
  font-weight: 400;
  padding: 0.236em;
  margin-top:0.525em;
  margin-left: 2.125em;
  
}

.fila{
  width:100%
}
/* 
img{
  height: 80vh;
  width: auto;
} */
/* .imagen{
  width: 100%;
  height: auto;
} */

/* .dch{
  display:absolute;
  margin-left: 15.125em;
  margin-top: 1.125em;
} */

/* .bi{
display:absolute;
z-index:3;
margin-left: 10.236em;
margin-bottom: 3.125em;
} */

